@charset "UTF-8";

// メディアクエリの設定
$sp: 818px;
$hs: 1000px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
@mixin hs {
  @media screen and (max-width: ($hs)) {
    @content;
  }
}

/* 全体設定 */
* {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

body {
  color: #222;
  font-size: clamp(0.875rem, 0.831rem + 0.188vw, 1rem);
  line-height: 1.8;
  letter-spacing: 0.06em;
  &.is-open {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: #222;
  &:hover {
    text-decoration: underline;
  }
  &:link {
    color: #222;
  }
  &:visited {
    color: #222;
  }
  &:hover {
    color: var(--corporate-color);
  }
  &:active {
    color: var(--corporate-color);
  }
}
:root {
  --corporate-color: #4b0082;
  --corporate-color--white: #e6c4ff;
  --corporate-color--vivid: #8900f5;
  --white-font: #fff;
  --main-color: var(--white-font);
  --sub-color: #eeedef;
}
img {
  width: 100%;
  vertical-align: middle;
}

.c {
  &-bold {
    font-weight: bold;
  }
  &-pc-only {
    @include sp {
      display: none;
    }
  }
  &-sp-only {
    display: none;
    @include sp {
      display: block;
    }
  }
}
.openbtn {
  position: relative;
  background: #57a2c7;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;

  span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;

    &:nth-of-type(1) {
      top: 15px;
    }

    &:nth-of-type(2) {
      top: 23px;
    }

    &:nth-of-type(3) {
      top: 31px;
    }
  }

  &.active {
    span {
      &:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
      }
    }
  }
}
.nav{
  &__wrapper{
    
  &__container .active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 1000;
    transform: translateX(-100%);
    transition: all .4s;
    padding: 50px 0;
    @include sp{
      padding: 30px 0;
    }
    &.active{
      transform: translateX(0);
    }

  }
}
