extends _layout
block content
  section.conversation
    h1 Hello everyone
    img(src="../img/about.png")
    img(src="../img/mv1.png" alt="牛さん")
    p こんにちは
  section.about
    .about__wrapper
      h2 About us
      p ここには私たちについての説明が入ります。
